*{
    margin: 0;
    padding: 0;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    box-sizing: border-box;

    }
img{
    width: 100%;
    display: block;

}
    header {
        padding: 10px;
       display:inline;
       position: fixed;
       background-color: #d3d7e6;
       width: 100%;
       z-index: 1000;
       align-content: center;
       justify-content: space-between;

      
   }
   


   
       
   
     .logo img{
        
        position: fixed;
        align-items: center;
        left:250px;
        width: 200px;
        margin-top: 10px;
    }
    .navigation{

        position: relative;
        align-items: center;
        left:500px;
    }
    .navigation a{
       
       
        display: inline-flex ;
        text-decoration: none;
        color: #000000;
        padding: 20px;
       

    }
    
 
   .main{
       padding: 180px;
        width: 100%;
        text-align: center;
        background-color: #d1f0f3;  

    }
   .main h1{
       color: #020738;
   }
   .main h1 span{
color: #0958b8;
   }
   .main h6{
       margin: 10px;
       color: #0958b8;
   }

   .blocks{
       white-space: 50;
        padding: 50px 250px;
        margin: 20px;

   }
   .blocks p, h2, img{
       padding: 10px 30px;
   }
   .b1 h2{
    color: #3d72e4; 
   }

   .b2{
    margin-top: 20px;
    border-radius: 10px;
    background-color: #5a92c738;
   }


   .b2 h2{
    color: #1341a3;
     
      
   }

   .b3{
    margin-top: 20px;
    border-radius: 10px;
    background-color: #74444488;
   }
   .b3 h2{
  
    color: #412020;
   }
